node_modules
dist
dist-ssr
*.local

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

supabase/.temp
supabase/.branches

# Build cache local de TypeScript (no se sube al repo)
tsconfig.tsbuildinfo
